<li class="nav-item">
    <a href="/sii/manifestRun" class="nav-link">
        <i class="nav-icon fa fa-running"></i>
        <p>
            Jalankan Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/manifestData" class="nav-link">
        <i class="nav-icon fa fa-credit-card"></i>
        <p>
            Data Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/logDataManifest" class="nav-link">
        <i class="nav-icon fas fa-clipboard-check"></i>
        <p>
            Log Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/logScan" class="nav-link">
        <i class="nav-icon fas fa-clipboard-list"></i>
        <p>
            Log Scan
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/dataKanban" class="nav-link">
        <i class="nav-icon fas fa-table"></i>
        <p>
            Data Kanban
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/manifestHalt" class="nav-link">
        <i class="nav-icon fas fa-stop"></i>
        <p>
            Halted Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/haltKey" class="nav-link">
        <i class="nav-icon fas fa-key"></i>
        <p>
            Halt Keys
        </p>
    </a>
</li>

<li class="nav-item">
    <a href="/sii/sampah" class="nav-link">
        <i class="far fa-trash-alt nav-icon"></i>
        <p>Tempat Sampah</p>
    </a>
</li>
<li class="nav-item">
    <a href="/errorLogs" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Error Logs</p>
    </a>
</li>