<li class="nav-item">
    <a href="/sii/manifestRun" class="nav-link">
        <i class="nav-icon fa fa-tachometer-alt"></i>
        <p>
            Jalankan Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/manifestData" class="nav-link">
        <i class="nav-icon fa fa-users"></i>
        <p>
            Data Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/manifestLog" class="nav-link">
        <i class="nav-icon far fa-image"></i>
        <p>
            Log Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/scanLog" class="nav-link">
        <i class="nav-icon fas fa-print"></i>
        <p>
            Log Scan
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/kanbanData" class="nav-link">
        <i class="nav-icon fas fa-print"></i>
        <p>
            Data Kanban
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/manifestHalt" class="nav-link">
        <i class="nav-icon fas fa-print"></i>
        <p>
            Halted Manifest
        </p>
    </a>
</li>
<li class="nav-item">
    <a href="/sii/manifestKey" class="nav-link">
        <i class="nav-icon fas fa-print"></i>
        <p>
            Halt Keys
        </p>
    </a>
</li>

<li class="nav-item">
    <a href="/errorLogs" class="nav-link">
        <i class="far fa-circle nav-icon"></i>
        <p>Error Logs</p>
    </a>
</li>