<%- include(headerPath) %>

<style>
    li.buttons-columnVisibility a {
        cursor:pointer;
        }
    li.buttons-columnVisibility.active a {
        background-color:transparent;
        color:inherit; 
        }
    li.buttons-columnVisibility.active a:hover {
        background-color:#f5f5f5;
        color:inherit;
        }
    li.buttons-columnVisibility a:before {
        width:25px;
        font-family:"Glyphicons Halflings";
        content:"\e013";
        color:transparent;
        padding-right:10px;
        }
    li.buttons-columnVisibility.active a:before {
        color:inherit;
        }
    #table_filter label { min-width: 100%;}
    #table_filter label input{ min-width: 100%;}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<div class="content-fluid">
			<div class="row">
				<div class="col-12">
					<h1>
						<i class="fa fa-table"></i> Data Kanban
                        <button class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#tambahdata" title="Tambah Data"><i class="fa fa-plus"></i> Tambah</button>
					</h1>
				</div>
			</div>
		</div>
	</section>
    <div class="modal fade" id="tambahdata">
        <div class="modal-dialog">
        <form action="/sii/tambahKanban" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Tambah Data Kanban</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <div>
                        <table class="table">
                            <tr>
                                <th>Kanban Customer</th>
                                <td><input type="text" class="form-control" name="kanban_cus" onkeyup="cek_part_name(this)" required></td>
                            </tr>
                            <tr>
                                <th>Kanban SII</th>
                                <td><input type="text" class="form-control" name="kanban_sii" required></td>
                            </tr>
                            <tr>
                                <th>Deskripsi</th>
                                <td><textarea name="desc" class="form-control partname" rows="2" readonly required></textarea><span class="note"></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                    <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Tambah</button>
                </div>
            </div>
        </form>
        </div>
    </div>
	<section class="content">
		<div class="content-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="card">
						<div class="card-body">
							<table id="table" class="table" cellspacing="0" width="100% " style="white-space:nowrap;">
								<thead>
									<tr>
										<th class="text-center">No</th>
										<th>Update Date</th>
										<th>Kanban Customer</th>
										<th>Kanban Shiroki</th>
										<th>Deskripsi</th>
										<th>Updated by</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$(".sel2").select2({
        	minimumResultsForSearch: 20
		});
	});
	var table;
    $(document).ready(function() {
        table = $('#table').DataTable({ 
            processing: true,
            serverSide: true,
            order: [],
            stateSave: true,
            ajax: {
                url: "/sii/dataKanban",
                type: "POST",
                data: function ( data ) {
                    // data.start_date = $('#start_date').val();
                    // data.end_date = $('#end_date').val();
                }
            },
			columnDefs: [
                // { visible: false, targets: [ 4, 13, 14] },
                { orderable: false, targets: [ 0, 4, 6 ] }
            ],
            aoColumns: [
                null,
                null,
                null,
                null,
                null,
                null,
                null
                ],
            dom:
            "<'row'<'col-lg-12 col-md-12 col-12'B>>" +
            "<'row'<'col-lg-6 col-md-6 col-sm-12 col-12'l><'col-lg-6 col-md-6 col-sm-12 col-12'f>>" +
            "<'row'<'col-lg-12 col-md-12 col-12 table-responsive'tr>>" +
            "<'row'<'col-lg-5 col-md-5 col-12'i><'col-lg-7 col-md-7 col-12'p>>",
            buttons: [{
                    extend:    'copy',
                    text:      '<i class="fa fa-copy"></i>',
                    titleAttr: 'Copy',
                    className: 'btn btn-info'
                },{
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel"></i>',
                    titleAttr: 'Excel',
                    className: 'btn btn-success'
                },{
                    extend:    'pdf',
                    text:      '<i class="fa fa-file-pdf"></i>',
                    titleAttr: 'PDF',
                    className: 'btn btn-danger'
                },{
                    extend:    'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Print',
                    className: 'btn btn-warning',
                    exportOptions: {
                        columns: ':visible'
                    },
                    messageTop: 'Company Data'
                },{
                    extend: 'colvis',
                    className: 'btn btn-default',
                    postfixButtons: ['colvisRestore']
                }],
                fade: false,
            language: {
                buttons: {
                    colvis: 'Columns'
                },
                searchPlaceholder: "Search records",
                search: ""
            }
        });
        $('#btn-filter').click(function(){
            table.ajax.reload();
        });
        $('#btn-reset').click(function(){
            $('#form-filter')[0].reset();
            table.ajax.reload();
        });
    });
	jQuery('.datepicker').datepicker({
		autoclose: true,
		format : "yyyy-mm-dd",
		todayHighlight : true
	});
	$('#start_date').on('changeDate', function (selected) {
		$('#end_date').datepicker('setStartDate', selected.date);
		$(this).datepicker('hide');
	});
    function cek_part_name(elem){
        if($(elem).val().length >= 8){
            var row = $(elem).closest('table');
            var part_name = row.find('.partname');
            var note = row.find('.note');
            $.ajax({
                type: "POST",
                url: "/sii/cekPartName",
                data: {
                    part_name: $(elem).val()
                },
                cache: false,
                success: function(point){
                    if(point != ''){
                        $(part_name).val(point);
                        $(note).html('');
                    }else{
                        $(note).html('Data part tidak ditemukan');
                    }
                }
            });
        }
    }
</script>


<%- include(footerPath) %>