<%- include(headerPath) %>

<style>
    li.buttons-columnVisibility a {
        cursor:pointer;
        }
    li.buttons-columnVisibility.active a {
        background-color:transparent;
        color:inherit; 
        }
    li.buttons-columnVisibility.active a:hover {
        background-color:#f5f5f5;
        color:inherit;
        }
    li.buttons-columnVisibility a:before {
        width:25px;
        font-family:"Glyphicons Halflings";
        content:"\e013";
        color:transparent;
        padding-right:10px;
        }
    li.buttons-columnVisibility.active a:before {
        color:inherit;
        }
    #table_filter label { min-width: 100%;}
    #table_filter label input{ min-width: 100%;}
</style>
<div class="content-wrapper">
	<section class="content-header">
		<div class="content-fluid">
			<div class="row">
				<div class="col-12">
					<h1>
						<i class="fa fa-trash-alt"></i> Tempat Sampah <button class="btn btn-danger float-right" data-toggle="modal" data-target="#kosongkan" title="Kosongkan Tempat Sampah">Kosongkan Tempat Sampah</button>
					</h1>
				</div>
			</div>
		</div>
	</section>
    <div class="modal fade" id="kosongkan">
        <div class="modal-dialog">
        <form action="/sii/trash_manifest" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Kosongkan Tempat Sampah</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    Apakah anda yakin ingin menghapus seluruh isi tempat sampah ?
                </div>
                <div class="modal-footer justify-content-between">
                    <input type="hidden" name="tid" value="<%= data.tid %>">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-danger"><i class="fa fa-check"></i> Kosongkan</button>
                </div>
            </div>
        </form>
        </div>
    </div>
	<section class="content">
		<div class="content-fluid">
			<div class="row">
				<div class="col-lg-12 col-12">
					<div class="card">
						<div class="card-body">
							<table id="table" class="table" cellspacing="0" width="100% " style="white-space:nowrap;">
								<thead>
									<tr>
										<th class="text-center">No</th>
										<th>Manifest</th>
										<th>No Order</th>
										<th>Progress</th>
										<th>ETD</th>
										<th>Dock Code</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$(".sel2").select2({
        	minimumResultsForSearch: 20
		});
	});
	var table;
    $(document).ready(function() {
        table = $('#table').DataTable({ 
            processing: true,
            serverSide: true,
            order: [],
            stateSave: true,
            ajax: {
                url: "/sii/sampah",
                type: "POST",
                data: function ( data ) {
                    // data.start_date = $('#start_date').val();
                    // data.end_date = $('#end_date').val();
                }
            },
			columnDefs: [
                // { visible: false, targets: [ 4, 13, 14] },
                { orderable: false, targets: [ 0, 6] }
            ],
            aoColumns: [
                null,
                null,
                null,
                null,
                null,
                null,
                null
                ],
            dom:
            "<'row'<'col-lg-12 col-md-12 col-12'B>>" +
            "<'row'<'col-lg-6 col-md-6 col-sm-12 col-12'l><'col-lg-6 col-md-6 col-sm-12 col-12'f>>" +
            "<'row'<'col-lg-12 col-md-12 col-12 table-responsive'tr>>" +
            "<'row'<'col-lg-5 col-md-5 col-12'i><'col-lg-7 col-md-7 col-12'p>>",
            buttons: [{
                    extend:    'copy',
                    text:      '<i class="fa fa-copy"></i>',
                    titleAttr: 'Copy',
                    className: 'btn btn-info'
                },{
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel"></i>',
                    titleAttr: 'Excel',
                    className: 'btn btn-success'
                },{
                    extend:    'pdf',
                    text:      '<i class="fa fa-file-pdf"></i>',
                    titleAttr: 'PDF',
                    className: 'btn btn-danger'
                },{
                    extend:    'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Print',
                    className: 'btn btn-warning',
                    exportOptions: {
                        columns: ':visible'
                    },
                    messageTop: 'Company Data'
                },{
                    extend: 'colvis',
                    className: 'btn btn-default',
                    postfixButtons: ['colvisRestore']
                }],
                fade: false,
            language: {
                buttons: {
                    colvis: 'Columns'
                },
                searchPlaceholder: "Search records",
                search: ""
            }
        });
    });
</script>


<%- include(footerPath) %>