<html lang="en"><head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Page Not Found</title>

  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback"> -->
  <link rel="stylesheet" href="/plugins/fontawesome-free/css/all.min.css">
  <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/css/adminlte.min.css?v=3.2.0">
  <body class="login-page" style="min-height: 466px;">
  <div class="login-box">
      <!-- <div class="card card-outline card-primary"> -->
      <div class="card card-widget widget-user-2">
          <div class="widget-user-header">
              <div class="widget-user-image">
                <img src="/img/open.png" alt="User Avatar">
              </div>
              <h3 class="widget-user-username">OpenAIoT</h3>
              <h5 class="widget-user-desc">500 - Access Denied</h5>
          </div>
          <div class="card-body">
              <%= message %>
              <a href="/">Go to homepage</a>
          </div>
      </div>
      <script src="/plugins/jquery/jquery.min.js"></script>
      <script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="/js/adminlte.min.js?v=3.2.0"></script>
  </body>
</html>