<%- include(headerPath) %>
<style>
    li.buttons-columnVisibility a {
        cursor:pointer;
        }
    li.buttons-columnVisibility.active a {
        background-color:transparent;
        color:inherit; 
        }
    li.buttons-columnVisibility.active a:hover {
        background-color:#f5f5f5;
        color:inherit;
        }
    li.buttons-columnVisibility a:before {
        width:25px;
        font-family:"Glyphicons Halflings";
        content:"\e013";
        color:transparent;
        padding-right:10px;
        }
    li.buttons-columnVisibility.active a:before {
        color:inherit;
        }
    #table_filter label { min-width: 100%;}
    #table_filter label input{ min-width: 100%;}
    .expand {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 20vw;
    }
    .expand:hover {
        white-space: normal;
    }
    .ui-timepicker-container {
        z-index: 1060 !important; /* Ensure it's higher than the modal's z-index */
    }
</style>
<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-12">
                    <h1 class="m-0">Manage Baseline
                        <button onclick="addData()" class="btn btn-success float-right"><i class="fa fa-plus"></i> Add</button>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
				<div class="col-lg-12 col-12">
					<div class="card">
						<div class="card-body">
                            <table id="table" class="table" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="text-center">Utilization (%)</th>
                                        <th class="text-center">OEE (%)</th>
                                        <th class="text-center">AR (%)</th>
                                        <th class="text-center">PR (%)</th>
                                        <th class="text-center">QR (%)</th>
                                        <th class="text-center">Is Active</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
						</div>
					</div>
				</div>
			</div>
        </div>
    </section>
</div>
<div class="modal fade" id="addDataModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Baseline</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Utilization (%)</label><br>
                            <input type="number" step="0.01" id="addUtilization" name="addUtilization" class="form-control input-sm" autocomplete="off" placeholder="Utilization (%)"/>
                        </div>
                        <div class="form-group">
                            <label>OEE (%)</label><br>
                            <input type="number" step="0.01" id="addOEE" name="addOEE" class="form-control input-sm" autocomplete="off" placeholder="OEE (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Availability Rate (AR) (%)</label><br>
                            <input type="number" step="0.01" id="addAR" name="addAR" class="form-control input-sm" autocomplete="off" placeholder="AR (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Performance Rate (AR) (%)</label><br>
                            <input type="number" step="0.01" id="addPR" name="addPR" class="form-control input-sm" autocomplete="off" placeholder="PR (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Quality Rate (AR) (%)</label><br>
                            <input type="number" step="0.01" id="addQR" name="addQR" class="form-control input-sm" autocomplete="off" placeholder="QR (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Is Active: <input type="checkbox" id="addIsActive" name="addIsActive" value="1"></label><br>
                        </div>
                    </div>
                </div>
                <span class="text-red" id="addDataWarning"></span>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default float-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="addDataSubmit()">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editDataModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Shift Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label>Utilization (%)</label><br>
                            <input type="number" step="0.01" id="editUtilization" name="editUtilization" class="form-control input-sm" autocomplete="off" placeholder="Utilization (%)"/>
                        </div>
                        <div class="form-group">
                            <label>OEE (%)</label><br>
                            <input type="number" step="0.01" id="editOEE" name="editOEE" class="form-control input-sm" autocomplete="off" placeholder="OEE (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Availability Rate (AR) (%)</label><br>
                            <input type="number" step="0.01" id="editAR" name="editAR" class="form-control input-sm" autocomplete="off" placeholder="AR (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Performance Rate (AR) (%)</label><br>
                            <input type="number" step="0.01" id="editPR" name="editPR" class="form-control input-sm" autocomplete="off" placeholder="PR (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Quality Rate (AR) (%)</label><br>
                            <input type="number" step="0.01" id="editQR" name="editQR" class="form-control input-sm" autocomplete="off" placeholder="QR (%)"/>
                        </div>
                        <div class="form-group">
                            <label>Is Active: <input type="checkbox" id="editIsActive" name="editIsActive" value="1"></label><br>
                        </div>
                    </div>
                </div>
                <span class="text-red" id="editDataWarning"></span>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default float-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editDataSubmit()">Edit</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
		$(".sel2").select2({
			placeholder: "Please Select",
            minimumResultsForSearch: 20
        });
        $('.timepicker').timepicker({
            timeFormat: 'HH:mm',
            interval: 60,
            minTime: '0',
            maxTime: '23',
            defaultTime: '0',
            startTime: '0',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });
	});
    var editId;
    
    function show_modal(id) {
        editId = id;
        $('#editDataModal').modal('show');
        axios.post('/production/baselineRead', { editId: editId })
            .then((response) => {
                if (response.status === 201) {
                    $('#editUtilization').val(response.data.baselineData.utilization);
                    $('#editOEE').val(response.data.baselineData.oee);
                    $('#editAR').val(response.data.baselineData.ar);
                    $('#editPR').val(response.data.baselineData.pr);
                    $('#editQR').val(response.data.baselineData.qr);
                    $('#editIsActive').prop('checked', response.data.baselineData.isactive === 1);
                    $('#editDataWarning').html('');
                }
            })
            .catch((error) => {
                if (error.response && error.response.status === 400) {
                    $('#editDataWarning').html(error.response.data.message);
                } else if (error.response && error.response.status === 500) {
                    $('#editDataWarning').html(error.response.data.message);
                } else {
                    $('#editDataWarning').html(error.message);
                }
            });
    }

    function editDataSubmit() {
        $('#editDataWarning').html('');
        axios.post('/production/baselineEdit', {
            utilization: $('#editUtilization').val(),
            oee: $('#editOEE').val(),
            ar: $('#editAR').val(),
            pr: $('#editPR').val(),
            qr: $('#editQR').val(),
            isactive: $('#editIsActive').is(':checked') ? 1 : 0,
            editId: editId,
        })
            .then((response) => {
                if (response.status === 201) {
                    $('#editDataWarning').html('');
                    $('#editDataModal').modal('hide');
                    table.ajax.reload(null, false);
                }
            })
            .catch((error) => {
                if (error.response && error.response.status === 400) {
                    $('#editDataWarning').html(error.response.data.message);
                } else if (error.response && error.response.status === 500) {
                    $('#editDataWarning').html(error.response.data.message);
                } else {
                    $('#editDataWarning').html(error.message);
                }
            });
    }

    function delete_modal(id) {
        Swal.fire({
            title: 'Are you sure?',
            text: 'You are about to delete',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: 'Yes, do it!',
            cancelButtonText: 'Cancel'
        }).then((result) => {
            if (result.isConfirmed) {
                axios.post('/production/baselineDelete', { id: id })
                    .then((response) => {
                        if (response.status === 201) {
                            table.ajax.reload(null, false);
                        }
                    })
                    .catch((error) => {
                        Swal.fire('Error!', error.response.data, 'error');
                    });
            }
        });
    }

    function addData() {
        $('#addDataModal').modal('show')
    }

    function addDataSubmit() {
        $('#addDataWarning').html('');
        axios.post('/production/baselineAdd', {
            utilization: $('#addUtilization').val(),
            oee: $('#addOEE').val(),
            ar: $('#addAR').val(),
            pr: $('#addPR').val(),
            qr: $('#addQR').val(),
            isactive: $('#addIsActive').is(':checked') ? 1 : 0
        })
            .then((response) => {
                if (response.status === 201) {
                    $('#addDataWarning').html('');
                    $('#addDataModal').modal('hide');
                    $('#addUtilization').val('');
                    $('#addOEE').val('');
                    $('#addAR').val('');
                    $('#addPR').val('');
                    $('#addQR').val('');
                    table.ajax.reload(null, false);
                }
            })
            .catch((error) => {
                if (error.response && error.response.status === 400) {
                    $('#addDataWarning').html(error.response.data.message);
                } else if (error.response && error.response.status === 500) {
                    $('#addDataWarning').html(error.response.data.message);
                } else {
                    $('#addDataWarning').html(error.message);
                }
            });
    }

	var table;
    $(document).ready(function() {
        table = $('#table').DataTable({ 
            processing: true,
            serverSide: true,
            order: [],
            stateSave: true,
            ajax: {
                url: "/production/baseline",
                type: "POST",
                data: function ( data ) {
                    // data.start_date = $('#start_date').val();
                    // data.end_date = $('#end_date').val();
                    // data.start_time = $('#start_time').val();
                    // data.end_time = $('#end_time').val();
                    // data.eq_id = $('#eq_id').val();
                    // data.area = $('#area').val();
                    // data.status = $('#status').val();
                }
            },
            // "fnRowCallback": function( nRow, aData, iDisplayIndex, iDisplayIndexFull ) {
            //     if ( aData[9] != "" ){
            //         $('td', nRow).css('background-color', '#a4d3eb');
            //     }
            // },
            columnDefs: [
                // { visible: false, targets: [ 2, 6] },
                { orderable: false, targets: [0,1,2,3,4,6] }
            ],
            aoColumns: [
                null,
                null,
                null,
                null,
                null,
                null,
                null
                ],
            dom:
            "<'row'<'col-lg-12 col-md-12 col-12'B>>" +
            "<'row'<'col-lg-6 col-md-6 col-sm-12 col-12'l><'col-lg-6 col-md-6 col-sm-12 col-12'f>>" +
            "<'row'<'col-lg-12 col-md-12 col-12 table-responsive'tr>>" +
            "<'row'<'col-lg-5 col-md-5 col-12'i><'col-lg-7 col-md-7 col-12'p>>",
            buttons: [{
                    extend:    'copy',
                    text:      '<i class="fa fa-copy"></i>',
                    titleAttr: 'Copy',
                    className: 'btn btn-info'
                },{
                    extend:    'excel',
                    text:      '<i class="fa fa-file-excel"></i>',
                    titleAttr: 'Excel',
                    className: 'btn btn-success'
                },{
                    extend:    'pdf',
                    text:      '<i class="fa fa-file-pdf"></i>',
                    titleAttr: 'PDF',
                    className: 'btn btn-danger'
                },{
                    extend:    'print',
                    text:      '<i class="fa fa-print"></i>',
                    titleAttr: 'Print',
                    className: 'btn btn-warning',
                    exportOptions: {
                        columns: ':visible'
                    },
                    messageTop: 'Alarm'
                },{
                    extend: 'colvis',
                    className: 'btn btn-default',
                    postfixButtons: ['colvisRestore']
                }],
                fade: false,
            language: {
                buttons: {
                    colvis: 'Columns'
                },
                searchPlaceholder: "Search records",
                search: ""
            }
        });
    });

</script>

<%- include(footerPath) %>